:root {
  --background-main: #ffffff;
  --text-color-main: #4e4d4d;
  --header-color-main: #4a4846;
  --logo-color: #b38f2d;
  --light: #daddc4;
  --dark: #678a50 ;
  --lightest: #fdfff1 ;
  --darkest: #4a4846 ;
  --accent: #dba43b;
  --text-large: 1.2em;
  --text-small: 0.9em;
  --body-font: "Poppins";
  --header-font: "Bebas Neue";
  --logo-font: "Bebas Neue";
  --pnf-font: "Bebas Neue";
  --logo-size: 3.5em;
  --logo-size-m: 10vw;
  --logo-size-s: 8vw;
  --nav-bar-size: 1.2em;
  --nav-bar-size-m: 4.5vw;
  --nav-bar-size-s: 3.5vw;
  --header-letter-spacing: 0.05em;
  --project-intro-banner-font-size: 3em;
  --gutter: 0px 1.5em
}



body {
  background-color: var(--background-main);
  color:var(--text-color-main);
  font-family: var(--body-font);
  font-size: 16px;
  cursor: default;
}

h1 {
  font-family: var(--header-font);
  font-size: 4.1em;
  font-weight: 500;
  letter-spacing: var(--header-letter-spacing);
}

h2 {
  font-family: var(--header-font);
  font-size: 2.5em;
  font-weight: 500;
  letter-spacing: var(--header-letter-spacing);
}

h3 {
  font-family: var(--header-font);
  font-size: 1.9em;
  font-weight: 500;
  letter-spacing: var(--header-letter-spacing);
}

h4 {
  font-family: var(--header-font);
  font-size: 1.4em;
  font-weight: 500;
  letter-spacing: var(--header-letter-spacing);
}

a, a:visited { 
  text-decoration: none; 
  color:var(--darkest);
  font-weight: 600;
}

a:hover {
  color: var(--accent);
}

.main-content {
  display: grid;
  grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr 8fr 1fr;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}

/* ////////////////////////////////////////Footer////////////////////////////////////////// */

.footer {
  grid-column: 2/span 10;
  text-align: center;
  font-size: 14px;
  grid-row: 3;
  padding: 2.5em 0;
  display: flex;
}

.footer-name{
  font-size: 1.2em
}

.footer-contact {
  display: flex;
  flex-wrap:wrap;
  margin-top: 2em;
  flex: 1
}

.footer-credit{
  margin-top:2em
}

.footer-dot {
  margin: 0px 12px 0px 12px;
  line-height: .7em;
  font-size: 1.2em;
  font-weight: bold;
}


.footer a {
  font-weight: 500;
}

/* ////////////////////////////////////////Header & Nav////////////////////////////////////////// */
.header {
  grid-column: 2 / span 10;
  grid-row: 1;
  position: relative;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 22px 0px;
  align-items: center;
  /* position: sticky;
  top:35px; */
}

.header-name a, .header-name a:visited {
  color: var(--logo-color) !important;
  font-size: var(--logo-size);
  font-family: "Bebas Neue";
  font-weight: 1000;
  letter-spacing: .1rem
}

.header-name p {
  margin: 0;
}

.nav-elements{
  font-size: var(--nav-bar-size)
}

.nav-elements li{
  list-style-type: none;
}

.nav-elements .nav-p{
  margin-right: 20px
}


/* .nav-elements a:hover, .footer a:hover, .contact a:hover, .about a:hover {
  color: var(--accent);
} */

.nav-elements a.active {
  border-bottom: 2px solid var(--darkest);
  font-weight: 500;
}

.nav-elements a{
  font-weight: 500;
}

.nav-elements a.active:hover {
  border-bottom: 2px solid var(--accent);
}

.sub-content {
  grid-column: 2/span 10;
  grid-row:2;
  margin-top:40px
}


.menu-icon {
  display: none;
}

/* ///////////////////////////  MAIN PAGE /////////////////////////////////// */

.sub-content.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 40px
}

.cp-intro-container{
  display: flex;
}

.cp-intro-content {
  font-size: 1.5em;
  margin: 6vw auto;
  max-width: 600px;
}

.cp-intro-content b {
  font-size: 1.5em;
  font-family: var(--logo-font);
  letter-spacing: var(--header-letter-spacing);
}

.project-list {
  display: flex;
  justify-content: space-between;
  margin: 0 -0.5em;
}

.project-list .project {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 1.5em;
  position: relative;
}

/* .project-image {
  position: relative
}

.img-description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f9faf3e8;
  color: var(--text-color-main);
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s, visibility .2s;
}

.project-image:hover .img-description-layer {
  visibility: visible;
  opacity: 1;
}

.img-description {
  transition: .2s;
  transform: translateY(1em);
  font-size: 1.9vw;
  font-weight: 500;
  letter-spacing: var(--header-letter-spacing);
}

.project-image:hover .img-description {
  transform: translateY(0);
} */

.project .button.read-more h4 {
  color: var(--accent);
  font-weight: 600;
  font-family: var(--body-font);
  font-size: var(--text-large);
  margin-top: 0px
}

.project p {
  margin: 4px 0 16px;
}

.project h3 {
  margin: 0.3em 0px 0;
}

.project-list img {
  max-width:100%;
}


/* ////////////////////////////////////////About////////////////////////////////////////// */

.about {
  grid-column: 3/span 8;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 3.8em
}

.about-content {
  flex: 1;
}

.about-content a {
  font-weight: 500;
}

.about img {
  width: 100%;
  display: block;
  margin-left: auto;
}

.about-content.about-img {
  width: 100%;
  max-width: 500px;
}

.about-content.about-img div {
  font-size: 12px;
  text-align: center;
}

.about-content.about-img{
  margin-left: 40px
}

.about p {
  margin-top: 0px
}

.about p:nth-last-child(2) {
  margin: 0px
}



/* ///////////////////////////////////// UI GALLERY   /////////////////////////////// */
.ui-gallery-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2em
}

.ui-gallery-column {
  flex:1
} 

.ui-gallery-column:nth-child(even){
  margin-left: 1em;
}

.ui-gallery-column:nth-child(odd){
  margin-right: 1em;
}

.ui-work-text {
  margin-bottom: 6vw;
}

.ui-small-txt{
  font-size: .9em;
  margin-bottom: 1em
}

/* ///////////////////////////////////    Projects    /////////////////////////////// */

.fade-in-section {
  opacity: 0;
  transform: translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out,
    visibility 1200ms ease-out;
  will-change: opacity, transform, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}

.pco-accent-style{
  background-color: var(--darkest);
  color:var(--lightest)
}

.pco-accent-style h4{
  color: var(--accent)
}


.ps-flex {
  display: flex;

}

.flex-item.project-intro {
  flex: 1 1 54%;
  margin-right: 28px;
}

.flex-item.project-intro p {
  /* text-align: justify; */
  margin-top: 0px
}


.flex-item.lang-app-feature {
  flex: 1 1 54%;
  margin-right: 28px;
}

.project-container {
  display: grid;
  grid-column: 1/span 12;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 16px;
  margin-bottom: 40px
}


.project-section-outer {
  display: grid;
  grid-column: 1/span 12;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 16px;
  margin-bottom: 20px;
} 

.project-section-inner {
grid-column: 3/span 8;
}

.project-intro .section-header {
margin-bottom: 40px;
text-align: center;
}

.sc-flex-horizontal {
display: flex
}

.sc-flex-item.sc-flex-item-half {
flex: 0 1 50%
}

.sc-flex-item.sc-flex-item-sixty {
flex: 0 1 60%
}

.sc-flex-item.sc-flex-item-forty {
flex: 0 1 40%
}

.sc-flex-three {
flex: 1
}

.sc-flex-margin-right {
margin-right: 24px
}

.project-intro p {
margin-top:0px;
/* text-align: justify */
}

.large-txt {
font-size:var(--text-large)
}

.section-content{
margin: 20px 0 40px 0
}

.no-margin {
margin:0px
}

.sketch-uneven-right {
  width: 31%;
}

.centered-txt {
  text-align: center;
}

.flex-center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-link a {
  font-weight: 500;
  color: var(--darkest)
}

.accent-link a {
  font-weight: 600;
  color: var(--accent)
}

 .project-intro .banner h2 {
  margin-top: 0px;
  font-size: var(--project-intro-banner-font-size)
 } 

/* ///////////////////////////////////  IMAGES  /////////////////////////////// */
.project-main-pic img {
  border-radius: 20px;
  width: 100%;
}

.lang-app-img{
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px
}

.lang-app-img img{
  border-radius:20px;
  max-width: 100%;
  height: auto;
}

.project-intro-img img {
  width: 100%;
}

.react_lightgallery_item img {
  max-width: 100%;
  min-width: 100%;
  cursor: pointer
}

.picture-inner-width {
  width:100%
}

.starbucks-sp .ps-seven .banner .react_lightgallery_item {
  max-width: 310px;
  margin: 40px 0px;
}




/* ///////////////////////////////////Starbucks Projects/////////////////////////////// */


.starbucks-sp .sketch-container  {
  display:flex;
  flex-direction: row;
  margin: 0 -0.5em;
  justify-content: center;
}

.starbucks-sp .sketch-container div {
  flex: 1 1;
  margin: 0 0.5em;
}

.starbucks-sp .sketch-container img {
  max-width: 100%
}

.starbucks-sp .sketch-container.sketch-uneven div {
  flex: unset !important;
}

.starbucks-sp .sketch-uneven-left {
  width: 56%;
}

.starbucks-sp .banner {
  grid-column: 1/span 12;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 16px;
}

.starbucks-sp .ps-seven .banner {
  background-color: #006241;
  color: #fff
}

.starbucks-sp .ps-seven .banner-header{
  font-size: 50px;
  color: #FFFFFF;
}

.starbucks-sp .project-intro .content-background .react_lightgallery_item{
  background-color: #006241;
}


.starbucks-sp .banner .section-content.sc-flex-horizontal{
  grid-column: 2/span 10
}

.starbucks-sp .ps-seven .content-background {
  background-color: #cbe2db;
  background-image: url("./Assets/sb_bg_stars.png");
}

.starbucks-sp .button-one a, .starbucks-sp .button-one a, .starbucks-sp .button-one a:visited {
  background-color:transparent;
	border-radius:32px;
	border:1px solid #fff;
  color:#fff;
	display:inline-block;
	cursor:pointer;
	padding:8px 16px;
  font-weight: 500;
  margin:32px 12px;
	text-decoration:none;
}

.starbucks-sp .button-one a:active {
  background-color:#fff;
	border-radius:32px;
	border:1px solid #fff;
  color:#296242;
	display:inline-block;
	cursor:pointer;
	padding:8px 16px;
  font-weight: 500;
  margin:32px 12px;
	text-decoration:none;
}

.starbucks-sp .details{
  margin-top: 54px;
}

.starbucks-sp .card-content {
  background: var(--light);
  padding: 24px;
  }
  
  .starbucks-sp .ps-four .card-content {
  height:90%;
/* .starbucks-sp .ps-four .card-content */
  max-width: 302px;
  }

  .starbucks-sp .ps-two .card-content {
    height: 254px;
    max-width: 302px;
    }

.starbucks-sp .project-intro .flex-center-content {
  align-items: flex-start;
}

.starbucks-sp .ps-seven .banner .section-content.sc-flex-horizontal {
  grid-column: 1/span 12;
}


/* ///////////////////////////////////404/////////////////////////////// */

.page-not-found {
  font-family: var(--pnf-font);
  letter-spacing: .02em;
  font-size: 28px
}

.page-not-found .lg-text-container {
  font-family: var(--pnf-font);
  letter-spacing: .02em;
  font-size: 160px;
  font-weight: 1000;
}

.page-not-found .m-text-container {
  max-width: 600px;
  letter-spacing: .02em;
  margin: 0 auto;
}

.page-not-found .m-text-container a, .page-not-found .m-text-container a:visited {
  color: var(--accent);
  font-weight: 600;
}

/* /////////////////////RESPONSIVE//////////    PHONE      /////////////////////////////// */

@media screen and (max-width:767px) {

  .header-container {
    display: flex;
    flex-direction: column;
  }

  .header {
    grid-column: 1 / span 12;
    margin: var(--gutter);
    grid-row: 1;
    position: relative;
    }

  .header-name a, .header-name a:visited {
    font-size: var(--logo-size-m);
  }

  .nav-elements {
    font-size: var(--nav-bar-size-m);
    text-align: center;
    padding-top: 8px;
}

.nav-elements a.active:hover {
  border-bottom: 2px solid var(--accent);
}

.footer {
  grid-column: 1/span 12;
  flex-direction:column ;
}

.footer-contact, .footer-credit{
  justify-content: center;
  margin: 1em
}


.footer-dot {
  line-height: .6em;
  margin:0 8px 0 8px
}

.about {
  flex-direction: column-reverse;
}

.about-content.about-img {
  margin: 0 auto 2.5em auto;
}

.sub-content {
  margin: 1em 1.5em !important;
  grid-column: 1/span 12;
}

.ui-gallery-row {
  flex-direction: column;
  margin-bottom: 0px;
}

.ui-gallery-column:nth-child(odd){
  margin-right: 0px;
}

.ui-gallery-column:nth-child(even){
  margin-left: 0px;
}

.sub-content.portfolio {
  margin: 0px 1.5em !important;
}

.project-list{
  flex-direction:column;
  margin: 5vh 0px 0px 0px
}

.project-list .project {
  margin: 0 0 2em 0
}

.project-img a img {
  width:100%
}

.img-description {
  font-size: 1.4em
}

.ps-flex {
  flex-direction: column-reverse;
}

.flex-item.project-intro{
  margin-right: 0px;
}

h1 {
  letter-spacing:var(--header-letter-spacing);
  font-size: 2.3em;
}

h2 {
  letter-spacing:var(--header-letter-spacing);
  font-size: 2em;
}

h3 {
  letter-spacing:var(--header-letter-spacing);
  font-size: 1.8em;
}

h4 {
  letter-spacing:var(--header-letter-spacing);
  font-size: 1.4em;
}

.project-intro .banner h2 {
  font-size: 2.5em;
}

.project-section-inner {
  grid-column: 1/span 12;
  margin:var(--gutter)
}

.sc-flex-horizontal {
  flex-direction: column;
}

.sc-flex-margin-right {
  margin-right: 0px;
}

.card-content {
  margin-bottom: 1em;
}

.card-container {
  display: flex;
  justify-content: center;
}

.project-intro .sc-flex-item {
  margin: 0 auto;
}


.starbucks-sp .project-intro .banner-content {
  padding:0px 0px 1.5em 0px;
  margin: var(--gutter)
}

.starbucks-sp .banner .section-content.sc-flex-horizontal{
  grid-column: 1/span 12;
}

.starbucks-sp .ps-seven .banner-text.centered-txt {
  margin: 2em 1em;
}

.starbucks-sp .details {
  margin-top:28px
}

.starbucks-sp .sketch-container {
  display: flex;
  flex-direction: column;
}

.starbucks-sp .sketch-container.sketch-uneven {
  display: flex;
  flex-direction: row;
}

.starbucks-sp .ps-four .card-content {
  display: flex;
  flex-direction: column
}

.starbucks-sp .ps-six .sc-flex-item.sc-flex-item-half.centered-txt img {
  width: 80%;
}

}



/* /////////////////////RESPONSIVE//////////    PHONE   XS /////////////////////////////// */
@media screen and (min-width:500px) and (max-width:768px) {
  .header-name a, .header-name a:visited {
    font-size: var(--logo-size-s);
  }

  .nav-elements {
    font-size: var(--nav-bar-size-s);
    text-align: center;
    padding-top: 8px;
}


}
/* /////////////////////RESPONSIVE//////////    TABLET    /////////////////////////////// */

@media screen and (min-width:768px) and (max-width:1023px) {

  .header {
  grid-column: 1 / span 12;
  margin: var(--gutter);
  grid-row: 1;
  position: relative;
  };

  .nav-elements {
    font-size: 1.5rem;
    text-align: center;
    /* padding-top: 20px; */
}

.nav-elements a.active:hover {
  border-bottom: 2px solid #b38f2d;
}

.footer {
  flex-direction: column
}

.footer-contact, .footer-credit {
    justify-content: center;
    margin: 1em;
}


.about-content.about-img {
  margin: 0 auto 2.5em auto;
}

.sub-content {
  margin: 20px 2em 5em 2em !important;
  grid-column: 1/span 12;
}

.sub-content .about-bio{
  margin-right: 24px;
}

.sub-content.portfolio {
  margin: 0px 2em !important;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2em
}

.project-list .project {
  margin: 0 0 2em
}

.img-description {
  font-size: 1.4em
}

.project-section-header {
  grid-column: 1/span 12;
  margin: 0 1em 0 1em;
}

.ps-flex {
  flex-direction: column-reverse;
}

.flex-item.project-intro{
  margin-right: 0px;
}

h1 {
  letter-spacing:var(--header-letter-spacing);
  font-size: 2.3em;
}

h2 {
  letter-spacing:var(--header-letter-spacing);
  font-size: 2em;
}

h3 {
  letter-spacing:var(--header-letter-spacing);
  font-size: 1.8em;
}

h4 {
  letter-spacing:var(--header-letter-spacing);
  font-size: 1.4em;
}

.project-intro .banner-header h2 {
  font-size: 2.7em;
  margin-top: 0px;
}

.project-section-inner {
  grid-column: 1/span 12;
  margin: var(--gutter)
}

.sc-flex-horizontal {
  flex-direction: column;
}

.project-intro .sc-flex-item {
  margin: 0 auto;
}

.starbucks-sp .project-intro .banner-content {
  padding:0px 0px 1.5em 0px;
  margin: var(--gutter)
}

.starbucks-sp .banner .section-content.sc-flex-horizontal{
  grid-column: 1/span 12;
}

.card-container {
  display: flex;
  justify-content: center;
}

.starbucks-sp .ps-two .sc-flex-horizontal, .starbucks-sp .ps-four .sc-flex-horizontal {
  flex-direction: row;
}

.starbucks-sp .ps-two .card-content {
  height: 254px;
  max-width: 302px;
}

.starbucks-sp .ps-seven .section-content.sc-flex-horizontal {
  flex-direction: row
}



}