body {
  background-color: #fffff8;
  color:#5d5d5d;
  font-family: "Poppins";
  font-size: 16px;
  cursor: default;
  text-align: justify;
}

h2 {
  font-size: 2em;
  font-weight: 500;
}

h4 {
  font-size: 1.15em;
  font-weight: 500;
}

.main-content {
  display: grid;
  grid-template-areas: 
    "header header header"
    "content content content"
    "footer footer footer";
  grid-template-rows: 8em 1fr 2.5em;  
  grid-template-columns: repeat(12,1fr);
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}

.footer {
  grid-column: 2 / span 10;
  font-size: 16px;
  display: flex;
  /* margin:1em;
  position: absolute;
  bottom:0; */
}

.footer-contact{
  flex: 1 1;
  display: flex;
}

.footer-contact div{
  margin: 0px 20px 0px 0px
}

a, a:visited { 
  text-decoration: none; 
  color:#515151
}

/* ////////////////////////////////////////Header & Nav////////////////////////////////////////// */

.header {
  grid-column: 2 / span 10;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  padding-top: 32px
  /* position: sticky;
  top:35px; */
}

.header-name a, .header-name a:visited {
  color: #b38f2d !important;
  font-size: 2.5em;
  font-family: "Mulish";
  letter-spacing: .1rem
}

.header-name p {
  margin: 0;
}

.nav-bar{
  font-size: 20px
}

.nav-bar li{
  list-style-type: none;
}

.nav-bar .nav-p{
  margin-right: 20px
}


.nav-bar a:hover, .footer a:hover, .contact a:hover {
  color: #b38f2d;
}

.nav-bar a.active {
  border-bottom: 2px solid #515151;
}

.nav-bar a.active:hover {
  border-bottom: 2px solid #b38f2d;
}

.sub-content {
  grid-column: 3/span 8;
  margin-top:40px
}

.sub-content.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0px
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -0.5em;
}

.project-list .project {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 0 0.5em;
  position: relative;
}

.img-description-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(255 255 249 / 75%);
  color: #5d5d5d;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.project:hover .img-description-layer {
  visibility: visible;
  opacity: 1;
}

.img-description {
  transition: .2s;
  transform: translateY(1em);
  font-size: 1.4vw;
  font-weight: 500;
}

.project:hover .img-description {
  transform: translateY(0);
}

.project-list img {
  max-width:100%;
}

.project-list p {
  font-weight: 500;
  margin-top: 0px;
  font-size: 16px;
}

/* ////////////////////////////////////////About////////////////////////////////////////// */

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px -0.5em 0 -.5em;
}

.about-content {
  display: flex;
  flex-direction: column;
  margin: 0 0.5em;
}

.about img {
  max-width:100%;
}

.about-content.about-img div {
  font-size: 12px;
  text-align: center;
}

/* ///////////////////////////////////Individual Projects/////////////////////////////// */

.project-content-outer {
  display: grid;
  grid-column: 1/span 12;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 16px;
  /* max-width: 1680px; */
  margin-top:40px
}

.project-content-inner {
  display: grid;
  grid-column: 1/span 12;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 16px;
}

.project-section-header{
  grid-column: 3/span 8
}

.project-header {
  grid-column: 3/span 8
}

.project-section {
  grid-column: 3/span 8;
  margin:20px 0 40px 0
}

.project-content-inner:nth-child(even){
  background-color: #697f41;
  color:#fffaea
}

.ps-flex {
  display: flex;

}

.flex-item.project-intro {
  flex: 1 1 54%;
  margin-right: 28px;
}

.flex-item.project-intro p {
  text-align: justify;
  margin-top: 0px
}

.project-section.ps-flex.lang-app-fifth{
  margin-top:0px
}

.flex-item.lang-app-feature {
  flex: 1 1 54%;
  margin-right: 28px;
}

/* Images */
.project-main-pic img {
  border-radius: 20px;
  width: 100%;
}

.lang-app-img{
  text-align: center;
  margin-top: 20px;
  margin-bottom:20px
}

.lang-app-img img{
  border-radius:20px;
  max-width: 100%;
  height: auto;
}



/* ///////////////////////////////////Starbucks Projects/////////////////////////////// */

